absl-py==2.1.0
accelerate==1.1.1
adagio==0.2.6
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-cors==0.8.1
aiosignal==1.3.1
alembic==1.14.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.5.3
attrs==24.2.0
awscli==1.40.37
axial_positional_embedding==0.3.4
backoff==2.2.1
bcrypt==4.3.0
beartype==0.21.0
beautifulsoup4==4.12.3
bleach==6.2.0
blis==1.3.0
bokeh==3.7.2
cachetools==5.5.2
catalogue==2.0.10
catboost==1.2.8
chromadb==1.0.13
click==8.1.7
cloudpathlib==0.21.1
cloudpickle==3.1.1
codetiming==1.4.0
coloredlogs==15.0.1
colorful==0.5.6
colorlog==6.9.0
colour==0.1.5
confection==0.1.5
contourpy==1.3.0
coreforecast==0.0.15
cuda-python==12.6.0
cupy-cuda12x==13.3.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
dask==2025.4.1
datasets==3.1.0
datasketch==1.6.5
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.9
distributed==2025.4.1
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docutils==0.19
duckdb==1.2.0
durationpy==0.10
easydict==1.13
einops==0.8.0
einx==0.3.0
et_xmlfile==2.0.0
evaluate==0.4.3
fast-pagerank==1.0.0
fastai==2.8.1
fastcore==1.8.2
fastdownload==0.0.7
fastprogress==1.0.3
fastrlock==0.8.3
fasttransform==0.0.2
featuretools==1.31.0
flatbuffers==25.2.10
fonttools==4.54.1
frozendict==2.4.6
frozenlist==1.5.0
fs==2.4.16
fugue==0.9.1
future==1.0.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.47
gluonts==0.16.1
google-api-core==2.24.2
google-auth==2.40.2
googleapis-common-protos==1.70.0
googledrivedownloader==0.4
GPUtil==1.4.0
GraKeL==0.1.10
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.70.0
h11==0.16.0
hapless==0.7.1
holidays==0.75
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.26.1
humanfriendly==10.0
humanize==4.11.0
hydra-core==1.3.2
hyperopt==0.2.7
imageio==2.37.0
importlib_resources==6.5.2
ipdb==0.13.13
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.1
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kaggle==1.7.4.2
kditransform==0.2.0
kiwisolver==1.4.7
kubernetes==33.1.0
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
lightgbm==4.6.0
linkify-it-py==2.0.3
lion-pytorch==0.2.2
littleutils==0.2.4
llvmlite==0.43.0
local-attention==1.9.15
locket==1.0.0
loguru==0.7.3
lz4==4.4.4
Mako==1.3.9
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.9.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
memory-profiler==0.61.0
memray==1.17.1
mlforecast==0.13.6
mmh3==5.1.0
model-index==0.1.11
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.13
narwhals==1.38.2
ninja==1.11.1.3
nlpaug==1.1.11
nltk==3.8.1
nox==2024.10.9
numba==0.60.0
numpy==2.0.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
nx-cugraph-cu12==24.12.0
oauthlib==3.3.0
ogb==1.3.6
omegaconf==2.3.0
onnxruntime==1.22.0
opencensus==0.11.4
opencensus-context==0.1.3
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
openxlab==0.0.11
optuna==4.2.1
ordered-set==4.1.0
orjson==3.10.18
outdated==0.2.2
overrides==7.7.0
pandas==2.2.3
partd==1.4.2
patsy==1.0.1
pcst_fast==1.0.10
pdf2image==1.17.0
performer-pytorch==1.1.4
plotly==6.1.1
plum-dispatch==2.5.7
polars==1.30.0
pooch==1.8.2
posthog==5.3.0
preshed==3.0.9
prettytable==3.12.0
prometheus_client==0.22.0
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.28.3
psutil==6.1.0
py-spy==0.4.0
py4j==0.10.9.9
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pybind11==2.13.6
pycryptodome==3.23.0
pydantic==2.11.4
pydantic_core==2.33.2
pydot==4.0.0
pylibcugraph-cu12==24.12.0
pylibraft-cu12==24.12.0
pymongo==4.13.2
Pympler==1.1
PyPika==0.48.9
pytesseract==0.3.13
python-dotenv==1.0.1
python-slugify==8.0.4
pytorch-metric-learning==2.8.1
pytorch-warmup==0.2.0
pytz==2024.2
ray==2.44.1
rdkit==2024.3.5
referencing==0.36.2
regex==2024.9.11
requests-oauthlib==2.0.0
rich==13.9.3
rmm-cu12==24.12.1
rootutils==1.0.7
rpds-py==0.25.1
rsa==4.7.2
safetensors==0.4.5
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.12.2
sentence-transformers==3.2.1
sentencepiece==0.2.0
sentry-sdk==2.17.0
seqeval==1.2.2
setproctitle==1.3.3
setuptools==75.1.0
shap==0.47.0
shapiq==1.2.1
shellingham==1.5.4
six==1.16.0
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sql-formatter==0.6.2
SQLAlchemy==2.0.38
sqlalchemy_schemadisplay==2.0
sqlglot==26.32.0
sqlglotrs==0.6.1
srsly==2.5.1
statsforecast==2.0.1
statsmodels==0.14.4
tabpfn==2.0.6
tabulate==0.9.0
tblib==3.1.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
text-unidecode==1.3
textual==3.1.0
thinc==8.3.6
threadpoolctl==3.5.0
tifffile==2025.5.21
timm==1.0.3
tokenizers==0.20.1
toolz==0.12.1
transformers==4.46.0
triad==0.9.8
triton==3.0.0
typer==0.12.5
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.2
uc-micro-py==1.0.3
utilsforecast==0.2.10
uvicorn==0.34.3
uvloop==0.21.0
vector-quantize-pytorch==1.18.5
virtualenv==20.29.1
virtualenv-clone==0.5.7
wandb==0.18.5
wasabi==1.1.3
watchfiles==1.1.0
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.44.0
window_ops==0.0.15
woodwork==0.31.0
wrapt==1.17.2
x-transformers==1.42.9
xgboost==3.0.1
xxhash==3.5.0
xyzservices==2025.4.0
yacs==0.1.8
yarl==1.16.0
zict==3.0.0
torchmetrics==1.7.4
